html
    head
        title Login page (ExpressJS Pug template)
        link(rel='stylesheet', href='../css/style.css')
    body
        include ./header.pug
        h2 You have successfully logged into your "account"
        
        include ./footer.pug